# IDE
.idea/

# Yarn
.yarn/*

## yarn patch-commit : https://yarnpkg.com/cli/patch-commit
!.yarn/patches

## Yarn wrapper (like gradle/)
!.yarn/plugins
!.yarn/releases

## Editor SDK
!.yarn/sdks


!.yarn/versions

## with zero-install
!.yarn/cache

## without zero-install
.pnp.*
